<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ylb.database.mapper.FinanceAccountMapper">


    <insert id="add">
        insert into u_finance_account (uid, available_money) VALUE (#{uid}, #{availableMoney})
    </insert>
</mapper>
